.header-container{
    display: flex;
    align-items: center;
    margin-left: 2%;

}

.header-container img{
    width: 3%;
    height: 3%;
    border-radius: 100%;
    margin-right: 5px;
}

.verse{
    color: #1babdf;
}