.break-btn{
    border: none;
    color: white;
    background-color: #1279dadc;
    padding: 10px 5px;
    border-radius: 70%;
}
.break-btn:hover{
    background-color: #0264d4a8;
}
.break-btn-h:hover{
    background-color: #0264d4a8;
}