.info-bar{
    margin-top: 20px;
    border-radius: 15px;
    background-color: #305ebb17;
    padding: 15px;
}
.user-profile{
    display: flex;
    align-items: center;
    background-color: #12a4da15;
    padding: 10px;
    border-radius: 10px;
}
.user-img{
    width: 20%;
    height: 20%;
    border-radius: 60%;
}
.user-info{
    margin-left: 15px;
}
.user-info p{
    margin: 0;
}
.info-h4{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.breaks{
    display: flex;
    justify-content: space-around;
}

.time-count-div{
    display: flex;
    justify-content: space-around;
    background-color: #12a4da15;
    margin-top: 10px;
    border-radius: 10px;
}